
if SHIELD_rcr1_LEFT

config ZMK_KEYBOARD_NAME
    default "RcR1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_rcr1_LEFT

if SHIELD_rcr1_LEFT || SHIELD_rcr1_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif # SHIELD_rcr1_LEFT || SHIELD_rcr1_RIGHT
